<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/cloud-no-bg.png">
</head>
<body>
    {{>header}}
    {{!-- <h4>{{mission}}</h4> --}}
    <div class="aboutCard">
        <h1 class='title'>About</h1>
        <h3>This application is able to take in a location any where in the world and return the current weather in that location. Currently we are only display the current weather but I do plan on expanding this application soon. Your input on the Weather page may need to be specific if you are looking for the weather of a small city because the most popular city is returned by default. To get the locations data you are looking for on the Weather page you can type in your city, your state, your country, this is a full proof method of making sure the most accurate weather is provided. Thank your for using my web service.</h3>
    </div>
    {{>footer}}
</body>
</html>